cluster_name: sourcelair
agent_nodes:
 - {public: node0.docker.gr, private: node0.docker.gr}
 - {public: node1.docker.gr, private: node1.docker.gr}
 - {public: node2.docker.gr, private: node2.docker.gr}
 - {public: node3.docker.gr, private: node3.docker.gr}
 - {public: node4.docker.gr, private: node4.docker.gr}
control_node: node0.docker.gr
users:
 - sourcelair
os: ubuntu
remote_server_username: root
private_key_path: EDIT_THIS_VALUE
agent_config:
  version: 1
  control-service:
     hostname: node0.docker.gr
     port: 4524
  dataset:
     backend: "zfs"
