/*
 * Terminal related CSS!
 */
body {
    font-family: helvetica, sans-serif, arial;
    font-size: 16px;
    color: #111;
}

h1 {
    text-align: center;
}

#terminal-container {
    width: 960px;
    height: 600px;
    margin: 0 auto;
    padding: 2px;
}

#terminal-container .terminal {
    background-color: #111;
    color: #fafafa;
    padding: 2px;
}

#terminal-container .terminal .terminal-cursor {
    background-color: #fafafa;
}

.alert-info {
    margin: auto;
    margin-top: 15px;
    width: 960px;
}

.glyphicon-fullscreen {
    font-size: 25px;
}